/* Reglas de estilo comunes */
.LoginClass .Form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.LoginClass .Form p {
    font-size: 30px;
}

/* Móviles */
@media (max-width: 768px) {
    .LoginClass .Contend {
        flex-direction: column;
        height: 50vh;
    }

    .MovilTitle {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'DS';
        font-size: 25px;
        height: 12vh;
        width: 100%;
        color: white;
        margin: 0;
        background-image: url('../../assets/images/img1.jpeg');
        background-position: center center;
    }

    .LoginClass .Image {
        display: none;
    }

    .LoginClass .Form p {
        font-family: Georgia;
    }
}

/* Escritorio */
@media (min-width: 769px) {
    .LoginClass .Contend {
        display: flex;
        height: 100vh;
        width: 100%;
        flex-direction: row;
    }

    .LoginClass .Form {
        width: 50%;
    }

    .MovilTitle {
        display: none;
    }

    .LoginClass .Image {
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url('../../assets/images/img1.jpeg');
        background-position: center center;
        height: 100%;
        width: 50%;
    }

    .LoginClass .Image p {
        font-family: 'DS';
        text-align: center;
        font-size: 75px;
        color: white;
    }
}
