.LoginClass .Header{
    background: #6e9f72;
    width: 100%;
    height: 15vh;
}
.LoginClass .Contend{
    display: flex;
    height: 85vh;
    width: 100%;
}
.LoginClass .Form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 50%;
}
.LoginClass .Form p{
    font-family: Georgia;
    font-size: 30px;
}
.LoginClass .Image{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../../assets/images/img1.jpeg');
    background-position: center center;
    height: 100%;
    width: 50%;
}
.LoginClass .Image p{
    font-family: 'DS';
    text-align: center;
    font-size: 75px;
    color: white;
}

