/* Reglas de estilo comunes */
.RegisterClass{
    width: 100%;
}
.Register .Container .Form {
    height: 100%;
    display: flex;

    flex-direction: column;
}

.Form .flexInput {
    margin: 10px 0;
}

/* Escritorio */
@media (min-width: 769px) {
    
    .Register {
        width: 100%;
        margin: 4vh 0 0 0;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    div.Form {
        height: auto;
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        margin-top: -100px;

    }

    .header-typeForm{
        margin-top: 10px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: -40px;
    }

    .flex-img{
       width: 70%;
    }

    .header-typeForm p {
        font-size: 30px;
        font-weight: bold;
        margin: 0;
    }

    .header-typeForm span {
        font-family: 'DS';
        font-size: 22px;
    }

    .Form .pres{
        width: 70%;
    }

    .Form .flexInput {
        width: 73%;
        display: flex;
        justify-content: space-around;
    }

    .Form .textfieldClass {
        width: 45%;
    }
    .Form .textfieldClass3 {
        width: 96%;
    }

    div.Update {
        width: 40%;
        margin-right:5%;
        height: 80%;
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: last baseline;
        justify-content: center;
        margin-top: -100px;
    }

    div.Update-responsive {
        display: none;
    }

    .Update .TBClass {
        width: 30%;
        height: 7%;
        margin: 80px 0;
    }
}

/* Movil */
@media (max-width: 768px) {
    div.Update{
        display: none;
    }
     div.Form {
        width: 100vw;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }
    .flex-img{
        width: 70%;
     }

    .Form .flexInput{
        width: 70%;
    }
    .Form .textfieldClass {
        width: 100%;
    }

    .header-typeForm{
    
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      
    }

    .flex-img{
       width: 70%;
    }

    .header-typeForm p {
        font-size: 30px;
        font-weight: bold;
        margin: 0;
    }

    .header-typeForm span {
        font-family: 'DS';
        font-size: 20px;
    }



    div.Update-responsive{
        width: 70%;
        height: 400px;
        display: flex;
        background-size: cover;
        background-position: center;
        align-items: last baseline; 
        justify-content: center;
    }

    .TBClass {
        width: 30%;
        height: 7%;
        margin: 40px 0;
        
    }
}