/* Reglas de estilo comunes */
.Register .Container .Form {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Form .flexInput {
    margin: 10px 0;
}

/* Escritorio */
@media (min-width: 769px) {
    .Register .Container {
        display: flex;
        height: 100vh;
        width: 100%;
    }

    .Register .Container .Form {
        width: 50%;
    }

    .Form p {
        font-size: 30px;
        font-weight: bold;
    }

    .Form h5 {
        font-family: 'DS';
    }

    .Form .flexInput {
        width: 73%;
        justify-content: space-around;
    }

    .Form .textfieldClass {
        width: 45%;
    }

    .Register .Container .Update {
        background-image: url('../../assets/images/img2.jpeg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 50%;
        display: flex;
        align-items: last baseline;
        justify-content: center;
    }

    .Update .TBClass {
        width: 30%;
        margin: 40px 0;
    }
}

/* Movil */
@media (max-width: 768px) {
    .Register .Container .Form {
        width: 100%;
    }

    .Form .flexInput{
        width: 70%;
    }

    .Form .textfieldClass {
        width: 100%;
    }

    .TBClass{
        position: relative;
        width: 70%;
        background: black;
        left: 15%;
    }
}
