.ProductosContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.HomeClass{
    overflow: hidden;
}
/* móvil */
@media (max-width: 1243px) {
    .ContainerObjects{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }    
}