/* Estilos para pantallas de escritorio y laptops */
div.container-all {
    width: 100%;
    overflow: hidden;
}

div.containerForm {
    width: 80%;
    height: 100%;
    margin: 15px 10%;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    border-radius: 5px;
}

.containerForm .title {
    width: 100%;
    height: auto;
    text-align: center;
    margin: 10px 0;
}

form.form-regiterSocio {
    width: 100%;
    height: 70%;
    display: flex;
    flex-wrap: wrap;
}

.form-regiterSocio .container-fields-socio {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px 10% 15px 10%;
}

.form-regiterSocio .container-img {
    width: 40%;
    height: 415px;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
    justify-items: center;
    align-items: end;
    background-size: cover;
    background-position: center center;
    border: solid black;
}

div.container-button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

div.container-button .agregarSocio {
    width: 35%;
    height: 50px;
    margin-top: 55px;
}

h2.imgTitle-logo {
    display: flex;
    align-items: center;
    height: 45px;
    justify-content: center;
    overflow: hidden;
    font-weight: bold;
}

img.logo-h2 {
    height: 100%;
    object-fit: cover;
}

p.decription-add {
    width: 30%;
    text-align: center;
}

/* Estilos para dispositivos móviles */
@media only screen and (max-width: 768px) {
    div.containerForm {
        width: 90%;
        margin: 15px 5%;
    }

    .form-regiterSocio .container-fields-socio {
        width: 100%;
        padding: 15px 5%;
    }

    .form-regiterSocio .container-img {
        width: 100%;
        margin-top: 20px;
    }

    div.container-button .agregarSocio {
        width: 70%;
        margin-top: 30px;
    }

    p.decription-add {
        width: 90%;
    }
}



